@font-face {
  font-family: 'Loius George Cafe';
  src: url("./../../../../assets/Louis George Cafe/Louis George Cafe.ttf") format('truetype');
}

@font-face {
  font-family: 'Loius George Cafe Bold';
  src: url("./../../../../assets/Louis George Cafe/Louis George Cafe Bold.ttf") format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

ion-content {
  --background: url("./../../../../assets/images/Katdhman 0.png") center center/cover no-repeat;
}

.ao-brand-grid {
  background: url("./../../../../assets/images/KatmaDRYDRYn 3.png");
  background-position: center;
  background-size: 100% 100%;
  padding: 0 0 7vh 0;
  .ao-brand-text {
    color: white;
    font-size: 36px;
    margin: 0 !important;
    padding-top: 30px;
    letter-spacing: 1.5px;
    font-family: 'Loius George Cafe Bold';
  }
  .live-contact-img {
    display: inline-block;
    width: 28px;
    height: auto;
    transform: translateY(+25%);
    margin-right: 1.5px;
  }
}

.ao-page-description-text {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Loius George Cafe';
}

.ao-basic-form {
  margin-top: 3vh;
  .form-col {
    margin-left: auto;
    margin-right: auto;
  }
  .input-label {
    font-size: 12px;
    color: #8f8b9e;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: 'Loius George Cafe Bold';
  }
  ion-input {
    font-size: 14px;
    color: #0c0720;
    border-bottom: 2px solid #dce0e4;
    margin-bottom: 2.5vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    --padding-start: 0;
    --padding-end: 0;
  }
  .register-button {
    width: 100%;
  }
  .form-basic-end {
    margin-top: 2vh;
    ion-col {
      margin-left: auto;
      margin-right: auto;
    }
    ion-text {
      font-size: 14px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 600;
    }
  }
  .href {
    text-decoration: underline;
  }

  ion-button {
    transform: translateY(-10%);
  }
}
