<ion-header>
  <ion-grid class="ao-brand-grid">
    <ion-col size="12">
      <ion-text class="ion-text-center">
        <h1 class="ao-brand-text">Alo Sig<ion-img src="./../../../../assets/images/425.png" class="live-contact-img"></ion-img>rta</h1>
      </ion-text>
    </ion-col>
  </ion-grid>
  <ion-text class="ion-text-center">
    <h2 class="ao-page-description-text">Devam Etmek için Kaydol</h2>
  </ion-text>
</ion-header>
<ion-content>
  <ion-grid class="ao-basic-form">
    <ion-row>
      <ion-col size="8" class="form-col">
        <form [formGroup]="registerForm" novalidate>
          <!-- Input field name -->
          <ion-text class="input-label">AD</ion-text>
          <ion-input  type="text" formControlName="name" name="name" spellcheck="false"></ion-input>
          <!-- Input field surname -->
          <ion-text class="input-label">SOYAD</ion-text>
          <ion-input  type="text" formControlName="surname" name="surname" spellcheck="false"></ion-input>
          <!-- Input field phone-number -->
          <ion-text class="input-label">TELEFON</ion-text>
          <ion-input  type="tel" formControlName="phone" spellcheck="false" maxlength="10" minlength="10" inputmode="numeric" pattern="[0-9]*" digitOnly></ion-input>
          <!-- Input field e-mail -->
          <ion-text class="input-label">E-POSTA</ion-text>
          <ion-input  type="mail"  spellcheck="false" formControlName="email"></ion-input>
          <!-- Input field password -->
          <ion-text class="input-label">SIFRE</ion-text>
          <ion-input  type="password"  name="password" spellcheck="false" minlength="6" formControlName="password"></ion-input>
          <!-- Input field confirm password -->
          <ion-text class="input-label">SIFREYI TEKRARLA</ion-text>
          <ion-input  type="password"  name="confirm_password" spellcheck="false" minlength="6" formControlName="confirm_password" id="confirm_password"></ion-input>
          <!-- Register Button -->
          <ion-button shape="round" color="primary" class="register-button" (click)="onRegister()">Kaydol</ion-button>
        </form>
        <!-- Form footer -->
        <ion-row class="form-basic-end ion-text-center">
          <ion-col size="12">
            <ion-text>Hesabın var mı?</ion-text>
            <ion-button class="href" href="/login" fill="clear" size="small" routerDirection="forward" text-capitalize="false">Giriş Yap</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
